@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-dark: rgba(2, 0, 0, 0.9);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 75px;
  --spacing-xxxl: 165px;
  --width-container: 1200px;
  --width-l-container: 2000px;
  --height-container: 320px;
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: rgb(26, 2, 2);
  --stroke-color: rgb(255, 255, 255);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background-image: url("https://wallpaper.forfun.com/fetch/03/03e808a95d71b1045bc1dc12b703aa2a.jpeg?download=video_game-valorant-brimstone_valorant-1026522.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
    display: flex;
}

.circles{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    padding: 0px;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
  
  .hero-section{
    align-items: flex-start;
    background: #4e54c8;  
    background-image: url("https://i.ibb.co/LRXHq4T/background.jpg");
    background-position: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    margin-top: 30px;
    height: 100%;
    padding: var(--spacing-xxxl) var(--spacing-m);
    z-index: 1;
  }

  .hero-section h1 {
    position: sticky;
    align-self: center;
    color: #ffffff;
    top: 10px;
    font-size: xx-large;
    margin-bottom: 10px;
    z-index: 4;
  }
  
  .card-grid{
    position: relative;
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-s);
    grid-row-gap: var(--spacing-s);
    max-width: var(--width-l-container);
    width: 100%;
  }

  .row-2 {
    left: 0;
  }

  
  .card{
    list-style: none;
    position: relative;
    z-index: 3;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 100%;
    width: 50%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border: solid 1px white;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.95);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: all .7s ease-out;
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    position: relative;
    font-size: 1.3rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    justify-content: center;
    text-align: center;
    top: 80px;
  }

  .action-button {
    top: 200px;
    position: relative;
    width: 200px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ffff;
    border-radius: 10px;
    cursor: pointer;
    left: 15%;
    justify-content: center;
  }

  .action-content {
    color: var(--text-dark);
    font-size: 0.86rem;
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
  }

  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }

  @media(min-width: 704px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }

    .card:before{
      content: '';
      display: block;
      padding-bottom: 130%;
      width: 100%;
    }

    .row-2 {
      left: 90px;
    }

    .action-button {
      position: relative;
      top: 180px;
      margin-left: 0;
      left: 15%;
    }

    .hero-section {
      padding: var(--spacing-xxxl) var(--spacing-m);
    }
  }
  
  @media(min-width: 1280px){
    .card-grid{
      grid-template-columns: repeat(7, 1fr);
    }

    .row-2 {
      left: 90px;
    }

    .card:before{
      content: '';
      display: block;
      padding-bottom: 200%;
      width: 100%;
    }

    .action-button {
      top: 260px;
      left: 0;
      width: 135px;
    }

    .hero-section {
      padding: var(--spacing-xxxl) var(--spacing-m);
    }
  }

  @media(min-width: 1500px){
    .action-button {
      left: 20%;
    }
  }